@media (width < 1600px) {
    #Firmament{
        width: 60%;
    }

    .right-OPTIONS ul{
        gap: 50px;
    }
    .right-OPTIONS{
        justify-content: start;
    }
}

@media (width < 1366px) {
    #Firmament{
        width: 70%;
    }

    .right-OPTIONS ul{
        gap: 50px;
    }

    .job_box {
        width: 40%;
        flex-wrap: wrap;
    }
    .foot_box {
        height: 700px;
    }
}

@media (width < 1080px) { /*1080 */
    #Firmament{
        width: 80%;
    }

    .right-OPTIONS ul{
        gap: 20px;
    }

    .job_box {
        width: 40%;
        flex-wrap: wrap;
    }
    .foot_box {
        height: 700px;
    }

    .about_left{
        width: 50%;
    }
    .btn1 button{
        width: 70%;
    }
    .contact{

        gap: 20px;
    }
    .contact input{
        
        width: 100%;
    }
    
}

@media (width < 720px ) {
    .mobile_options{
        display: flex;
    }
    #Firmament{
        width: 65%;
        margin: auto;
    }
    .rec_firmament{
        width: 100%;
    
    }

    
    .right-OPTIONS {
        
        display: none;
    }

    .job_box {
        width: 40%;
        flex-wrap: wrap;
    }
    .foot_box {
        height: 700px;
    }

    .about_left{
        width: 50%;
    }
    .btn1 button{
        width: 70%;
    }
    .contact{

        gap: 20px;
    }
    .contact input{
        
        width: 100%;
    }
}


@media (width > 720px ){
    .mobile_options{
        display: none !important;
    }

    .mobile_options_activated{
        display: none !important;
    }

    .mobile_options_activated_list ul a{
      display: none !important;
    }
}
@media (width < 500px) {
    .mobile_options{
        display: flex;
        width: 10%;
    }
    .mobile_options_activated{
        width: 20%;
        font-size: 5px !important;
    }

    .mobile_options_activated_list ul a{
      font-size: 22px;
    }

    .Home{
        font-size: 10px !important;
    }
    #Firmament{
        width: 95%;
        margin: auto;
    }
    .rec_firmament{
        width: 100%;
    
    }

    .GLOBAL .right{
        display: none;
    }
    .GLOBAL .left{
        width: 80%;
    }


    /* - LEFT */
    .left_top{
        height:300px ;
    }
    .left p{
        height:120px ;
    }
    .left_bottom{
        height: 80px;
    }


    .right-OPTIONS {
        
        display: none;
    }

    
    .global_footer{
        min-height: 1500px;
    }
    .foot_box {
        width: 100%;
        min-height: 1300px;

        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
    .job_box {
        width: 80%;
        flex-wrap: wrap;
    }

    .about_left{
        width: 100%;
        height: 350px;
        /* background-color: RED; */
    }
    #about_me{
        min-height: 100px !important;
        width: 80%;
        display: flex;
    }
    .about_right{
        width: 100%;
    }
    .about_right ul{
        font-size: 15px;
    }
    .btn1 button{
        width: 100%;
    }

    #contact_me{
        min-height: 100px !important;
        width: 80%;
        display: flex;
    }
    .contact{

        gap: 20px;
    }
    .contact input{
        
        width: 100%;
    }
}




/* 720x1280 (HD)
1080x1920 (Full HD)

1920x1080 (Full HD)
2560x1440 (Quad HD)
3840x2160 (Ultra HD, 4K)
3440x1440 (UltraWide Quad HD)
2560x1600
1600x900
1366x768
1280x720 (HD) */